:root {
  --Dark-Green: #051F20;
  --Phthalo-Green: #0B2B26;
  --Medium-Jungle-Green: #163832;
  --Brunswick-Green: #235347;
  --Dark-Sea-Green: #8EB69B;
  --Chinese-White: #DAF1DE;
  --Maximum-Green-Antique-Brass: #DFD858;
  --white: #ffffff;
  --black: #0e1442;
  --Earth-Antique-Brass: #DAB660;
  --Antique-Brass: #C89F76;
  --dark-pink: #ad1457;
  --light-pink: #d81b60;
}

* {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  background: var(--white);
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  color: var(--Earth-Antique-Brass);
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

.name-btn {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  background: #0B2B26;
  color: #ffffff;
  font-size: 0.95em;
  text-decoration: none;
  transition: all 0.2s ease;
}

.name-btn:hover {
  background: #C89F76;
  color: #051F20;
  transform: translateY(-2px);
}

.resume a,
.resume button {
  border-radius: 20px;
}

.resume {
  border-radius: 20px;
}

.resume .func .work,
.resume .func .edu,
.resume .func .skills-prog,
.resume .func .skills-soft,
.resume .func .interests {
  border-radius: 40px;
}

.resume {
  width: 960px;
  background: var(--Dark-Green);
  color: var(--white);
  margin: 20px auto;
  box-shadow: 10px 10px var(--black);
  position: relative;
  display: flex;
}

.resume .base,
.resume .func {
  box-sizing: border-box;
  float: left;
}

.resume .base > div,
.resume .func > div {
  padding-bottom: 10px;
}

.resume .base > div:last-of-type,
.resume .func > div:last-of-type {
  padding-bottom: 0;
}

.resume .base {
  width: 30%;
  padding: 30px 15px;
  background: var(--Phthalo-Green);
  color: var(--white);
}

.resume .base .profile {
  background: var(--Earth-Antique-Brass);
  padding: 30px 15px 40px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 2;
}

.resume .base .profile::after {
  content: "";
  position: absolute;
  background: var(--Medium-Jungle-Green);
  width: 100%;
  height: 30px;
  bottom: -15px;
  left: 0;
  transform: skewY(-5deg);
  z-index: -1;
}

.resume .base .profile .photo img {
  width: 100%;
  max-width: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #0B2B26;
}

.resume .base .profile .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume .base .profile .info {
  text-align: center;
  color: var(--white);
}

.resume .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.75em;
  text-transform: lowercase;
  color: var(--Dark-Green);
}

.resume .base .profile .info .job {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1em;
  text-transform: lowercase;
  color: var(--Phthalo-Green);
}

.resume .base .contact div {
  line-height: 24px;
}

.resume .base .contact div a:hover {
  color: var(--Antique-Brass);
}

.resume .base .contact div a:hover span::after {
  width: 100%;
}

.resume .base .contact div:hover i {
  color: var(--Antique-Brass);
}

.resume .base .contact div i {
  color: var(--Earth-Antique-Brass);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}

.resume .base .contact div span {
  position: relative;
}

.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: var(--Antique-Brass);
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}

.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}

.resume .base .follow .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.resume .base .follow .box a:hover i {
  background: var(--Antique-Brass);
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i {
  display: inline-block;
  font-size: 58px;
  background: var(--Earth-Antique-Brass);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  color: var(--Phthalo-Green);
  margin: 0 10px 20px 10px;
  transition-duration: 0.5s;
}

.resume .base .follow .box i::before {
  transition-duration: 0.5s;
}

.resume .base .follow .box i.fa::before {
  display: block;
}

.resume .func {
  width: 100%;
  padding: 30px;
}

.resume .func:hover > div {
  transition-duration: 0.5s;
}

.resume .func:hover > div:hover h3 i {
  transform: scale(1.25);
}

.resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}

.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}

.resume .func h3 i {
  color: var(--Phthalo-Green);
  background: var(--Earth-Antique-Brass);
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

.resume .func .work,
.resume .func .edu {
  float: left;
}

.resume .func .work small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: var(--Antique-Brass);
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--Antique-Brass);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid var(--white);
  background: var(--Earth-Antique-Brass);
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: var(--white);
  left: 5px;
  top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}

.resume .func .work {
  width: 48%;
  background: var(--Phthalo-Green);
  padding: 15px;
  margin: 0 4% 15px 0;
}

.resume .func .edu {
  width: 48%;
  background: var(--Phthalo-Green);
  padding: 15px;
}

.resume .func .skills-prog {
  clear: both;
  background: var(--Phthalo-Green);
  padding: 15px;
}

.resume .func .skills-prog ul {
  margin-left: 15px;
}

.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  position: relative;
}

.resume .func .skills-prog ul li:hover {
  color: var(--Antique-Brass);
}

.resume .func .skills-prog ul li:hover .skills-bar .bar {
  background: var(--Antique-Brass);
  box-shadow: 0 0 0 1px var(--Antique-Brass);
}

.resume .func .skills-prog ul li span {
  display: block;
  width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
  background: var(--white);
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}

.resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: var(--Earth-Antique-Brass);
  box-shadow: 0 0 0 var(--Earth-Antique-Brass);
  border-radius: 5px;
}

/* ===== Software skills (circle) ===== */
.resume .func .skills-soft {
  clear: both;
  background: var(--Phthalo-Green);
  padding: 15px;
  margin: 15px 0 0;
}

.resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.resume .func .skills-soft ul li {
  position: relative;
}

.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: var(--Antique-Brass);
  stroke-width: 4px;
}

.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}

.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}

.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: var(--white);
}

.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: var(--Earth-Antique-Brass);
  stroke-linecap: round;
}

.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}

.resume .func .skills-soft ul li span {
  top: 40%;
}

/* ===== Interests ===== */
.resume .func .interests {
  background: var(--Phthalo-Green);
  margin: 15px 0 0;
  padding: 15px;
}

.resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}

.resume .func .interests-items div:hover span {
  color: var(--Antique-Brass);
  transition-duration: 0.3s;
}

.resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: var(--Earth-Antique-Brass);
  transition-duration: 0.3s;
}

.resume .func .interests-items div span {
  display: block;
}

/* Show percentage number for Programming Skills */
.resume .func .skills-prog ul li::after {
  content: attr(data-percent) "%";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.5em;
  opacity: 0.8;
}
